*.h5
.ipynb_checkpoints/
__pycache__/
/08-deep-learning/clothing-dataset-small/
/08-deep-learning/clothing-dataset/
/09-serverless/clothing-model/
/09-serverless/clothing-model/
*.tflite
data/
cohorts/data/
**midterms_evaluations/
