# generated
.ipynb_checkpoints/
__pycache__/
**my_dir/

# file types
*.h5
*.tflite
*.zip

# data folders
data/
cohorts/data/

#  content-specific
/08-deep-learning/clothing-dataset-small/
/08-deep-learning/clothing-dataset/
/08-deep-learning/ImageClassification/

/09-serverless/clothing-model/
/09-serverless/clothing-model/

**midterms_evaluations/
